/* Division des sections de la page */
html, body {
    height: 100%;
    margin: 0; 
    padding: 0; 
}

.partieGauche {
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: center;
}

.partieDroite {
    height: 100%;
    width: 50%;
    border-left: solid 0.3em black;
    border-radius: 2px;
}


main {
    display: flex;
    height: 100%; 
    background-color: azure;
}


/* Partie pour la sidebar */
.sidebar {
    width: 20%;
    height: 100%;
    justify-content: left;
    background-color: aqua;
    border-right: solid 0.3em black;
    padding-right: 2em;
}

.lien-sidebar {
    margin-left: 1.5em;
    margin-top: 2.3em;
    font-size: 1.2em;
}

.bouttonSideBar{
    width: 80%;
}

.menu-logo {
    margin-left: 25%;
    margin-top: 2.5em;
}

/* Partie pour l'ajout de nouveaux prêts, clients, paiements, etc... */
.formulaire {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5em;
    padding: 1.1em;
    flex-direction: column;
    margin-top: 1.5em;
}

#formClient {
    margin: 0;
    padding: 0;
    display: contents; /* fait en sorte que le form « disparaisse » pour le layout */
}


.labelColor{
    color: black;
}

.titleColor{
    color: black;
}

.sectionInput{
    display: flex;
    align-items: center;
}

.div-message-confirmation {
    width: 100%; 
    padding: 0.5em;
    margin-top: 1em;
    border-radius: 5px;
    color: white;
    text-align: center;
}

.message-confirmation {
    color: black;
}

form button.button {
    width: 100%;
}


/* pour enlever l'icone de calendrier du input type date*/
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

.titreInput {
    text-align: center;
    width: 5em;
    flex: none;    
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bodyInput {
    width: 15em;
}

/* Partie pour le tableau qui affiche la liste de clients, prêts, paiements, etc... */

.tableau {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    gap: 1.5em;
    padding: 1.1em;
    flex-direction: column;
    border-radius: 2px;
}

/* Partie pour la selection, qui va afficher les infos */
.selection {
    height: 50%;
    width: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 75%;
    height: 75%;
    padding: 2em;
}

