body {
    margin: 0;
}

.navbar {
    width: 100%;
    background-color: black;
    height: 5em;
}

.texteIntroduction {
    width: 100%;
    background-color: aqua;
    height: 4em;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

.lienEnregistrerClient {
    width: 50%;
    background-color: red;
    height: 20em;
}

.lienGérerPrêts {
    width: 50%;
    background-color: green;
    height: 20em;
}

.lienSuivrePaiements {
    width: 50%;
    background-color: blue;
    height: 20em;
}

.lienTableauBord {
    width: 50%;
    background-color: purple;
    height: 20em;
}