html, body {
    height: 100%;
    margin: 0; 
    padding: 0; 
}

.sidebar {
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: aqua;
}

.lien-sidebar {
    margin: 2em;
}

.dashboard {
    background-color: lightgrey;
    width: 75%;
    height: 100%;
}

main {
    display: flex;
    height: 100%; 
}