html, body {
    height: 100%;
    margin: 0; 
    padding: 0; 
}

.sidebar {
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: aqua;
}

.lien-sidebar {
    margin: 2em;
}

.dashboard {
    background-color: lightgrey;
    width: 75%;
    height: 100%;
}

main {
    display: flex;
    height: 100%; 
    background-color: azure;
}

.formulairePrets {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5em;
    padding: 1.1em;
    flex-direction: column;
    margin-top: 1.5em;
    margin-left: 1.5em;
}

.labelColor{
    color: black;
}

.sectionInput{
    display: flex;
    align-items: center;
}

.titreInput {
    text-align: center;
    width: 5em;
    flex: none;
    
}

.bodyInput {
    width: 15em;
}